.actionItemLarge {
  flex-direction column
  align-items center
  justify-content space-between
  height 220px
  // width 400px
  background white
  padding 0px 20px
  border-radius 5px
  // margin 20px
  text-align center
  // cursor pointer

  //&:hover {
  //  border 2px solid #00ade870
  //  transform scale(1.04)
  //}

  img {
    // max-width 50px
    max-height 100px
  }
}
